<div class = "app">
  <mat-toolbar class ="main-header"  color="primary">  
    
    <div class="branding">
      <!-- <div style = "margin-right: 60px" class ="relative"><img class = "logo" height="32" width="54"  src="/assets/lti.png" alt="LTI"></div> -->
      <div [ngStyle.xs]="{ 'margin-left.px': -8}" class = "appname">RC Engagement</div>
    </div>
    <!-- spaces logo from user  -->
  
    <div fxFlex>
    </div>
    <!-- <div fxShow.xs="false">Hi {{user.fullName}}</div> -->

  </mat-toolbar>


   <mat-sidenav-container class="app-inner">
    <router-outlet></router-outlet>
  </mat-sidenav-container> 
</div>
