/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html {
    font-size: 16px;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    position: relative;
    
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
  
    min-height: 100%;
  
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 0.875rem;
    /* color: rgba(mat-color($foreground, base), 0.87); */
    line-height: 1.5;
    font-family: inherit;
}
  